RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

RewriteEngine On

AddType text/css .css

RewriteRule !(\.ico\.gif|\.png|\.map|\.woff2|\.jpe?g|\.css|\.xls|\.xlsx|\.pdf|\.woff2|\.js|\.eot|\.svg|\.ttf|\.woff|\.otf|\.mp4)$ index.php [nocase,last]